.header {
  background-color: black;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}
.header_logo {
  width: 120px;
  height: 78px;
  object-fit: contain;
  margin: 0 15px;
  margin-top: 7px;
}
.header_nav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.header_link {
  color: white;
  text-decoration: none;
}
